In [2]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 160)

In [3]:
df_raw = pd.read_csv("../data/airlines_data.csv")
print("Shape of the dataset:", df_raw.shape)

Shape of the dataset: (2920, 17)

In [4]:
display(df_raw.head(25))

,REF_DATE,GEO,DGUID,Airlines,Services,Operational statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2010-01,Canada,2016A000011124,Air Canada,Total services,Passengers,Number,223,thousands,3,v54055422,1.1.1.1,1820.0,NaN,NaN,NaN,0
1,2010-01,Canada,2016A000011124,Air Canada,Total services,Passenger-kilometres,Number,223,thousands,3,v54055423,1.1.1.2,5793519.0,NaN,NaN,NaN,0
2,2010-01,Canada,2016A000011124,Air Canada,Total services,Available seat-kilometres,Number,223,thousands,3,v54055424,1.1.1.3,7341802.0,NaN,NaN,NaN,0
3,2010-01,Canada,2016A000011124,Air Canada,Total services,Goods carried,Kilograms,192,thousands,3,v54055425,1.1.1.5,17969.0,NaN,NaN,NaN,0
4,2010-01,Canada,2016A000011124,Air Canada,Total services,Goods tonne-kilometres,Number,223,thousands,3,v54055426,1.1.1.6,112798.0,NaN,NaN,NaN,0
5,2010-01,Canada,2016A000011124,Air Canada,Total services,Hours flown,Number,223,thousands,3,v54055427,1.1.1.7,65.0,NaN,NaN,NaN,0
6,2010-01,Canada,2016A000011124,Air Canada,Total services,Turbo fuel consumed,Litres,203,thousands,3,v54055428,1.1.1.8,265571.0,NaN,NaN,NaN,0
7,2010-01,Canada,2016A000011124,Air Canada,Total scheduled services,Passengers,Number,223,thousands,3,v54055429,1.1.2.1,1814.0,NaN,NaN,NaN,0
8,2010-01,Canada,2016A000011124,Air Canada,Total scheduled services,Passenger-kilometres,Number,223,thousands,3,v54055430,1.1.2.2,5781705.0,NaN,NaN,NaN,0
9,2010-01,Canada,2016A000011124,Air Canada,Total scheduled services,Available seat-kilometres,Number,223,thousands,3,v54055431,1.1.2.3,7327456.0,NaN,NaN,NaN,0
10,2010-01,Canada,2016A000011124,Air Canada,Total scheduled services,Load factors-scheduled services,Percent,239,units,0,v54055432,1.1.2.4,78.9,NaN,NaN,NaN,1
11,2010-01,Canada,2016A000011124,Air Canada,Total scheduled services,Goods carried,Kilograms,192,thousands,3,v54055433,1.1.2.5,17969.0,NaN,NaN,NaN,0
12,2010-01,Canada,2016A000011124,Air Canada,Total scheduled services,Goods tonne-kilometres,Number,223,thousands,3,v54055434,1.1.2.6,112798.0,NaN,NaN,NaN,0
13,2010-01,Canada,2016A000011124,Air Canada,Domestic scheduled services,Available seat-kilometres,Number,223,thousands,3,v54055435,1.1.3.3,1940840.0,NaN,NaN,NaN,0
14,2010-01,Canada,2016A000011124,Air Canada,International scheduled services,Available seat-kilometres,Number,223,thousands,3,v54055436,1.1.4.3,5386616.0,NaN,NaN,NaN,0
15,2010-01,Canada,2016A000011124,Air Canada,Total charter services,Passengers,Number,223,thousands,3,v54055437,1.1.5.1,6.0,NaN,NaN,NaN,0
16,2010-01,Canada,2016A000011124,Air Canada,Total charter services,Passenger-kilometres,Number,223,thousands,3,v54055438,1.1.5.2,11814.0,NaN,NaN,NaN,0
17,2010-01,Canada,2016A000011124,Air Canada,Total charter services,Available seat-kilometres,Number,223,thousands,3,v54055439,1.1.5.3,14346.0,NaN,NaN,NaN,0
18,2010-01,Canada,2016A000011124,Air Canada,Total charter services,Goods carried,Kilograms,192,thousands,3,v54055440,1.1.5.5,0.0,NaN,NaN,NaN,0
19,2010-01,Canada,2016A000011124,Air Canada,Total charter services,Goods tonne-kilometres,Number,223,thousands,3,v54055441,1.1.5.6,0.0,NaN,NaN,NaN,0
20,2010-01,Canada,2016A000011124,WestJet,Total services,Passengers,Number,223,thousands,3,v54055442,1.2.1.1,1196.0,NaN,NaN,NaN,0
21,2010-01,Canada,2016A000011124,WestJet,Total services,Passenger-kilometres,Number,223,thousands,3,v54055443,1.2.1.2,2017338.0,NaN,NaN,NaN,0
22,2010-01,Canada,2016A000011124,WestJet,Total services,Available seat-kilometres,Number,223,thousands,3,v54055444,1.2.1.3,2558566.0,NaN,NaN,NaN,0
23,2010-01,Canada,2016A000011124,WestJet,Total services,Goods carried,Kilograms,192,thousands,3,v54055445,1.2.1.5,343.0,NaN,NaN,NaN,0
24,2010-01,Canada,2016A000011124,WestJet,Total services,Goods tonne-kilometres,Number,223,thousands,3,v54055446,1.2.1.6,579.0,NaN,NaN,NaN,0

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   REF_DATE                2920 non-null   object
 1   GEO                     2920 non-null   object
 2   DGUID                   2920 non-null   object
 3   Airlines                2920 non-null   object
 4   Services                2920 non-null   object
 5   Operational statistics  2920 non-null   object
 6   UOM                     2920 non-null   object
 7   UOM_ID                  2920 non-null   int64
 8   SCALAR_FACTOR           2920 non-null   object
 9   SCALAR_ID               2920 non-null   int64
 10  VECTOR                  2920 non-null   object
 11  COORDINATE              2920 non-null   object
 12  VALUE                   2920 non-null   float64
 13  STATUS                  0 non-null      float64
 14  SYMBOL                  0 non-null      float64
 15  TERMINATED              0 non-null      float64
 16  DECIMALS                2920 non-null   int64
dtypes: float64(4), int64(3), object(10)
memory usage: 387.9+ KB

In [6]:
# These columns are 100% missing from the dataset
df_raw = df_raw.drop(columns=["TERMINATED", "SYMBOL", "STATUS"])

In [7]:
num_cols = [
    c for c in df_raw.columns
    if c.upper() in {"VALUE", "UOM_ID", "SCALAR_ID", "DECIMALS"}
]
df_raw["REF_DATE"] = pd.to_datetime(df_raw["REF_DATE"], format="%Y-%m", errors="coerce")

In [8]:
for cat_col in ["Airlines", "Services", "Operational statistics"]:
    if cat_col in df_raw.columns:
        df_raw[cat_col] = df_raw[cat_col].astype("category")

In [9]:
print("\nAfter type tweaks:")
display(
    df_raw[
        [
            "REF_DATE",
            "Airlines",
            "Services",
            "Operational statistics",
            "UOM",
            "SCALAR_FACTOR",
        ]
    ].head(20)
)

After type tweaks:

     REF_DATE    Airlines                          Services           Operational statistics        UOM SCALAR_FACTOR
0  2010-01-01  Air Canada                    Total services                       Passengers     Number     thousands
1  2010-01-01  Air Canada                    Total services             Passenger-kilometres     Number     thousands
2  2010-01-01  Air Canada                    Total services        Available seat-kilometres     Number     thousands
3  2010-01-01  Air Canada                    Total services                    Goods carried  Kilograms     thousands
4  2010-01-01  Air Canada                    Total services           Goods tonne-kilometres     Number     thousands
5  2010-01-01  Air Canada                    Total services                      Hours flown     Number     thousands
6  2010-01-01  Air Canada                    Total services              Turbo fuel consumed     Litres     thousands
7  2010-01-01  Air Canada          Total scheduled services                       Passengers     Number     thousands
8  2010-01-01  Air Canada          Total scheduled services             Passenger-kilometres     Number     thousands
9  2010-01-01  Air Canada          Total scheduled services        Available seat-kilometres     Number     thousands
10 2010-01-01  Air Canada          Total scheduled services  Load factors-scheduled services    Percent        units
11 2010-01-01  Air Canada          Total scheduled services                    Goods carried  Kilograms     thousands
12 2010-01-01  Air Canada          Total scheduled services           Goods tonne-kilometres     Number     thousands
13 2010-01-01  Air Canada       Domestic scheduled services        Available seat-kilometres     Number     thousands
14 2010-01-01  Air Canada  International scheduled services        Available seat-kilometres     Number     thousands
15 2010-01-01  Air Canada            Total charter services                       Passengers     Number     thousands
16 2010-01-01  Air Canada            Total charter services             Passenger-kilometres     Number     thousands
17 2010-01-01  Air Canada            Total charter services        Available seat-kilometres     Number     thousands
18 2010-01-01  Air Canada            Total charter services                    Goods carried  Kilograms     thousands
19 2010-01-01  Air Canada            Total charter services           Goods tonne-kilometres     Number     thousands

In [10]:
def check_missing_data(df: pd.DataFrame):
    total = len(df)
    miss = df.isna().sum().to_frame("missing_count")
    miss["missing_pct"] = (miss["missing_count"] / total * 100).round(2)
    return miss.sort_values("missing_pct", ascending=False)


def check_duplicates(df: pd.DataFrame, subset_cols=None, report_top_n=10):
    if subset_cols is None:
        subset_cols = ["REF_DATE", "Airlines", "Services", "Operational statistics"]
    dup_mask = df.duplicated(subset=subset_cols, keep=False)
    dup_df = df.loc[dup_mask, subset_cols + ["VALUE"]].copy()
    print(f"Total rows: {len(df):,}")
    print(f"Duplicate rows on {subset_cols}: {dup_df.shape[0]:,}")

    if not dup_df.empty:
        print("\nSample duplicate groups:")
        display(
            dup_df.groupby(subset_cols)
            .size()
            .to_frame("rows")
            .sort_values("rows", ascending=False)
            .head(report_top_n)
        )
    return dup_df


def _scalar_multiplier_from_text(s):
    if pd.isna(s):
        return 1.0
    s = str(s).strip().lower()
    if "thousand" in s:
        return 1_000.0
    if "million" in s:
        return 1_000_000.0
    if "billion" in s:
        return 1_000_000_000.0
    if "hundred" in s:
        return 100.0
    return 1.0

In [11]:
# In the dataset, VALUE column holds numbers, but their scale depends on SCALAR_FACTOR column and UOM column.
# For example, if SCALAR_FACTOR is "thousands" and UOM is "dollars", then the actual value is VALUE * 1000 dollars.
# Hence we have to normalize the VALUE column to a common scale.


def unit_normalize(df: pd.DataFrame):
    df = df.copy()

    df["VALUE"] = pd.to_numeric(df["VALUE"], errors="coerce")

    scalar = df["SCALAR_FACTOR"].map(_scalar_multiplier_from_text)
    is_percent = df["UOM"].astype(str).str.lower() == "percent"

    df["VALUE_adj"] = np.where(is_percent, df["VALUE"], df["VALUE"] * scalar)

    return df


# I am creating a new column VALUE_adj which is the adjusted VALUE column. If it’s a percentage → keep VALUE as it is.
# Otherwise, multiply VALUE by the scalar derived from SCALAR_FACTOR column.

In [12]:
pd.options.display.float_format = "{:,.2f}".format

missing_summary = check_missing_data(df_raw)
print("Missingness summary:")
display(missing_summary)

duplications = check_duplicates(df_raw)  # default grain
df_norm = unit_normalize(df_raw)

print("\nPreview after unit normalization:")
display(
    df_norm.head(10)[
        [
            "REF_DATE",
            "Airlines",
            "Services",
            "Operational statistics",
            "UOM",
            "SCALAR_FACTOR",
            "VALUE",
            "VALUE_adj",
        ]
    ]
)

Missingness summary:

                        missing_count  missing_pct
REF_DATE                            0         0.00
GEO                                 0         0.00
DGUID                               0         0.00
Airlines                            0         0.00
Services                            0         0.00
Operational statistics              0         0.00
UOM                                 0         0.00
UOM_ID                              0         0.00
SCALAR_FACTOR                       0         0.00
SCALAR_ID                           0         0.00
VECTOR                              0         0.00
COORDINATE                          0         0.00
VALUE                               0         0.00
DECIMALS                            0         0.00

Total rows: 2,920
Duplicate rows on ['REF_DATE', 'Airlines', 'Services', 'Operational statistics']: 0

Preview after unit normalization:

    REF_DATE    Airlines                  Services     Operational statistics        UOM SCALAR_FACTOR        VALUE        VALUE_adj
0 2010-01-01  Air Canada            Total services                 Passengers     Number     thousands     1,820.00     1,820,000.00
1 2010-01-01  Air Canada            Total services       Passenger-kilometres     Number     thousands 5,793,519.00 5,793,519,000.00
2 2010-01-01  Air Canada            Total services  Available seat-kilometres     Number     thousands 7,341,802.00 7,341,802,000.00
3 2010-01-01  Air Canada            Total services              Goods carried  Kilograms     thousands    17,969.00    17,969,000.00
4 2010-01-01  Air Canada            Total services     Goods tonne-kilometres     Number     thousands   112,798.00   112,798,000.00
5 2010-01-01  Air Canada            Total services                Hours flown     Number     thousands        65.00        65,000.00
6 2010-01-01  Air Canada            Total services        Turbo fuel consumed     Litres     thousands   265,571.00   265,571,000.00
7 2010-01-01  Air Canada  Total scheduled services                 Passengers     Number     thousands     1,814.00     1,814,000.00
8 2010-01-01  Air Canada  Total scheduled services       Passenger-kilometres     Number     thousands 5,781,705.00 5,781,705,000.00
9 2010-01-01  Air Canada  Total scheduled services  Available seat-kilometres     Number     thousands 7,327,456.00 7,327,456,000.00

In [13]:
def add_display_values(df):
    df = df.copy()

    df["VALUE_display"] = df["VALUE_adj"].astype(float)
    df["VALUE_unit"] = ""

    # Passengers, Goods carried in Millions
    mask = df["Operational statistics"].isin(["Passengers", "Goods carried"])
    df.loc[mask, "VALUE_display"] = df.loc[mask, "VALUE_adj"] / 1e6
    df.loc[mask, "VALUE_unit"] = "M"

    # Passenger-km, Seat-km in Billions
    mask = df["Operational statistics"].isin(
        ["Passenger-kilometres", "Available seat-kilometres"]
    )
    df.loc[mask, "VALUE_display"] = df.loc[mask, "VALUE_adj"] / 1e9
    df.loc[mask, "VALUE_unit"] = "B"

    # Fuel consumed in Millions of litres
    mask = df["Operational statistics"] == "Turbo fuel consumed"
    df.loc[mask, "VALUE_display"] = df.loc[mask, "VALUE_adj"] / 1e6
    df.loc[mask, "VALUE_unit"] = "M L"

    # Cargo tonne-km in Millions
    mask = df["Operational statistics"] == "Goods tonne-kilometres"
    df.loc[mask, "VALUE_display"] = df.loc[mask, "VALUE_adj"] / 1e6
    df.loc[mask, "VALUE_unit"] = "M"

    # Hours flown in Thousands
    mask = df["Operational statistics"] == "Hours flown"
    df.loc[mask, "VALUE_display"] = df.loc[mask, "VALUE_adj"] / 1e3
    df.loc[mask, "VALUE_unit"] = "K hrs"

    return df


df_norm = add_display_values(df_norm)


df_norm[
    [
        "REF_DATE",
        "Airlines",
        "Operational statistics",
        "VALUE_adj",
        "VALUE_display",
        "VALUE_unit",
    ]
].head(10)

    REF_DATE    Airlines     Operational statistics        VALUE_adj  VALUE_display VALUE_unit
0 2010-01-01  Air Canada                 Passengers     1,820,000.00           1.82          M
1 2010-01-01  Air Canada       Passenger-kilometres 5,793,519,000.00           5.79          B
2 2010-01-01  Air Canada  Available seat-kilometres 7,341,802,000.00           7.34          B
3 2010-01-01  Air Canada              Goods carried    17,969,000.00          17.97          M
4 2010-01-01  Air Canada     Goods tonne-kilometres   112,798,000.00         112.80          M
5 2010-01-01  Air Canada                Hours flown        65,000.00          65.00      K hrs
6 2010-01-01  Air Canada        Turbo fuel consumed   265,571,000.00         265.57        M L
7 2010-01-01  Air Canada                 Passengers     1,814,000.00           1.81          M
8 2010-01-01  Air Canada       Passenger-kilometres 5,781,705,000.00           5.78          B
9 2010-01-01  Air Canada  Available seat-kilometres 7,327,456,000.00           7.33          B

In [14]:
# I am going double-check that the reported Load Factor in the dataset is correct by recalculating it from passenger-km and seat-km.
# It’s the percentage of available seating capacity that actually gets filled with paying passengers.
# Sanity check

df_lf = df_norm[
    df_norm["Operational statistics"].isin(
        [
            "Passenger-kilometres",
            "Available seat-kilometres",
            "Load factors-scheduled services",
        ]
    )
].copy()


df_lf = df_lf[df_lf["Services"] == "Total scheduled services"]


df_lf = df_lf.pivot_table(
    index=["REF_DATE", "Airlines"],
    columns="Operational statistics",
    values="VALUE_adj",
    aggfunc="first",
).reset_index()


df_lf = df_lf.rename(
    columns={
        "Passenger-kilometres": "pax_km",
        "Available seat-kilometres": "seat_km",
        "Load factors-scheduled services": "load_factor_reported",
    }
)

df_lf["load_factor_implied"] = (df_lf["pax_km"] / df_lf["seat_km"]) * 100
df_lf["lf_diff"] = df_lf["load_factor_implied"] - df_lf["load_factor_reported"]


df_lf.head(10)

/var/folders/gb/k6dlrgjj1sj86p2sks70tns00000gn/T/ipykernel_64812/2262266457.py:19: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df_lf = df_lf.pivot_table(

Operational statistics   REF_DATE    Airlines          seat_km  load_factor_reported           pax_km  load_factor_implied  lf_diff
0                      2010-01-01  Air Canada 7,327,456,000.00                 78.90 5,781,705,000.00                78.90     0.00
1                      2010-01-01     WestJet 2,538,280,000.00                 78.70 1,998,100,000.00                78.72     0.02
2                      2010-02-01  Air Canada 6,727,937,000.00                 79.60 5,352,969,000.00                79.56    -0.04
3                      2010-02-01     WestJet 2,348,658,000.00                 82.30 1,932,838,000.00                82.30    -0.00
4                      2010-03-01  Air Canada 7,564,472,000.00                 83.40 6,311,269,000.00                83.43     0.03
5                      2010-03-01     WestJet 2,608,893,000.00                 83.70 2,184,586,000.00                83.74     0.04
6                      2010-04-01  Air Canada 6,850,977,000.00                 83.90 5,747,590,000.00                83.89    -0.01
7                      2010-04-01     WestJet 2,544,567,000.00                 83.90 2,135,625,000.00                83.93     0.03
8                      2010-05-01  Air Canada 7,552,593,000.00                 83.60 6,310,322,000.00                83.55    -0.05
9                      2010-05-01     WestJet 2,598,501,000.00                 77.50 2,015,098,000.00                77.55     0.05

Canonical Analysis Table

One clean dataset that I'll use in all later notebooks. For analysis I want one row per airline per month with all the key KPIs as columns.

In [15]:
# The company already gives us the Total scheduled services number, which = Domestic + International combined. So for clean monthly KPIs (passengers, seat-km, pax-km, load factor), Total scheduled services is the right level of detail.

passengers = df_norm[
    (df_norm["Services"] == "Total scheduled services")
    & (df_norm["Operational statistics"] == "Passengers")
][["REF_DATE", "Airlines", "VALUE_adj"]].rename(columns={"VALUE_adj": "passengers"})
# Renamed the column VALUE_adj to passengers (so it’s clear and business-friendly).


pax_km = df_norm[
    (df_norm["Services"] == "Total scheduled services")
    & (df_norm["Operational statistics"] == "Passenger-kilometres")
][["REF_DATE", "Airlines", "VALUE_adj"]].rename(columns={"VALUE_adj": "pax_km"})
# Renamed the column pax_km to passengers (so it’s clear and business-friendly).

seat_km = df_norm[
    (df_norm["Services"] == "Total scheduled services")
    & (df_norm["Operational statistics"] == "Available seat-kilometres")
][["REF_DATE", "Airlines", "VALUE_adj"]].rename(columns={"VALUE_adj": "seat_km"})


load_factor = df_norm[
    (df_norm["Services"] == "Total scheduled services")
    & (df_norm["Operational statistics"] == "Load factors-scheduled services")
][["REF_DATE", "Airlines", "VALUE_adj"]].rename(
    columns={"VALUE_adj": "load_factor_pct"}
)


fuel = df_norm[
    (df_norm["Services"] == "Total services")
    & (df_norm["Operational statistics"] == "Turbo fuel consumed")
][["REF_DATE", "Airlines", "VALUE_adj"]].rename(columns={"VALUE_adj": "fuel_litres"})


hours = df_norm[
    (df_norm["Services"] == "Total services")
    & (df_norm["Operational statistics"] == "Hours flown")
][["REF_DATE", "Airlines", "VALUE_adj"]].rename(columns={"VALUE_adj": "hours_flown"})


cargo_kg = df_norm[
    (df_norm["Services"] == "Total scheduled services") &
    (df_norm["Operational statistics"] == "Goods carried")
][["REF_DATE","Airlines","VALUE_adj"]].rename(columns={"VALUE_adj":"cargo_kg"})

cargo_tkm = df_norm[
    (df_norm["Services"] == "Total scheduled services") &
    (df_norm["Operational statistics"] == "Goods tonne-kilometres")
][["REF_DATE","Airlines","VALUE_adj"]].rename(columns={"VALUE_adj":"cargo_tkm"})

In [16]:
df_canonical = (
    passengers.merge(pax_km, on=["REF_DATE", "Airlines"], how="left")
    .merge(seat_km, on=["REF_DATE", "Airlines"], how="left")
    .merge(load_factor, on=["REF_DATE", "Airlines"], how="left")
    .merge(fuel, on=["REF_DATE", "Airlines"], how="left")
    .merge(hours, on=["REF_DATE", "Airlines"], how="left")
    .merge(cargo_kg, on=["REF_DATE", "Airlines"], how="left")
    .merge(cargo_tkm, on=["REF_DATE", "Airlines"], how="left")
)

df_canonical.head(10)

    REF_DATE    Airlines   passengers           pax_km          seat_km  load_factor_pct    fuel_litres  hours_flown      cargo_kg      cargo_tkm
0 2010-01-01  Air Canada 1,814,000.00 5,781,705,000.00 7,327,456,000.00            78.90 265,571,000.00    65,000.00 17,969,000.00 112,798,000.00
1 2010-01-01     WestJet 1,188,000.00 1,998,100,000.00 2,538,280,000.00            78.70  78,197,000.00    30,000.00    343,000.00     579,000.00
2 2010-02-01  Air Canada 1,733,000.00 5,352,969,000.00 6,727,937,000.00            79.60 245,341,000.00    60,000.00 18,241,000.00 114,049,000.00
3 2010-02-01     WestJet 1,162,000.00 1,932,838,000.00 2,348,658,000.00            82.30  72,572,000.00    28,000.00    332,000.00     555,000.00
4 2010-03-01  Air Canada 2,021,000.00 6,311,269,000.00 7,564,472,000.00            83.40 273,473,000.00    66,000.00 22,418,000.00 139,184,000.00
5 2010-03-01     WestJet 1,311,000.00 2,184,586,000.00 2,608,893,000.00            83.70  79,699,000.00    30,000.00    393,000.00     657,000.00
6 2010-04-01  Air Canada 1,868,000.00 5,747,590,000.00 6,850,977,000.00            83.90 251,530,000.00    60,000.00 18,335,000.00 113,852,000.00
7 2010-04-01     WestJet 1,281,000.00 2,135,625,000.00 2,544,567,000.00            83.90  77,687,000.00    29,000.00    399,000.00     667,000.00
8 2010-05-01  Air Canada 1,942,000.00 6,310,322,000.00 7,552,593,000.00            83.60 276,208,000.00    65,000.00 20,563,000.00 131,128,000.00
9 2010-05-01     WestJet 1,242,000.00 2,015,098,000.00 2,598,501,000.00            77.50  78,541,000.00    30,000.00    406,000.00     663,000.00

In [17]:
df_canonical.tail()

      REF_DATE    Airlines   passengers           pax_km          seat_km  load_factor_pct    fuel_litres  hours_flown      cargo_kg      cargo_tkm
141 2015-11-01     WestJet 1,522,000.00 2,581,798,000.00 3,286,530,000.00            78.60  99,763,000.00    40,000.00    712,000.00   1,777,000.00
142 2015-12-01  Air Canada 2,305,000.00 7,826,248,000.00 9,480,534,000.00            82.60 311,117,000.00    68,000.00 23,340,000.00 149,405,000.00
143 2015-12-01     WestJet 1,765,000.00 3,084,096,000.00 3,895,020,000.00            79.20 117,326,000.00    46,000.00    819,000.00   2,400,000.00
144 2016-01-01  Air Canada 2,248,000.00 7,830,329,000.00 9,614,728,000.00            81.40 312,162,000.00    69,000.00 20,716,000.00 133,492,000.00
145 2016-01-01     WestJet 1,727,000.00 3,206,296,000.00 4,006,786,000.00            80.00 120,514,000.00    48,000.00    722,000.00   2,135,000.00

In [18]:
df_canonical.to_csv("../data/airlines_data_canonical.csv", index=False)